body {
    margin: 0; /* Elimina el margen del body */
    padding: 0; /* Elimina el padding del body */
    }
    
    .sidemenu-container {
        
    width: 50%; /* Mantén el ancho deseado */
    height: 100vh; /* Altura de la pantalla */
    background-color: #7E9EA5; /* Color de fondo */
    display: flex; /* Corrige el typo */
    flex-direction: column;
    align-items: flex-start; /* Alinea los elementos al inicio */
    gap: 30px; /* Espacio entre elementos */
    position: fixed; /* Mantiene el menú fijo */
    top: 0; /* Alinea al inicio */
    left: 0; /* Alinea al borde izquierdo */
    }
    
    .items-container {
    flex: 1; /* Permite que este contenedor ocupe el espacio disponible */
    overflow-y: auto; /* Habilita el desplazamiento vertical si es necesario */
    }
    
    .item {
        font-weight: bold; /* Aplica negrita al texto */
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
    margin-left: 20px; /* Margen izquierdo */
    
    
    }
    
    .item p {
    width: 75%; /* Mantiene el ancho del texto */
    text-wrap: wrap;
    display: flex;
    gap: 10px;
    font-size: 20px;
    
    }
    img{
        height: 50px;
    }
    button{
        background-color: blueviolet; /* Color de fondo */
        color: white; /* Color del texto */
        padding: 15px 32px; /* Espaciado interno */
        text-align: center; /* Alineación del texto */
        text-decoration: none; /* Sin subrayado */
        display: inline-block; /* Para que se comporte como un bloque */
        font-size: 12px; /* Tamaño de fuente */
        margin: 2px 1px; /* Margen */
        cursor: pointer; /* Cambia el cursor al pasar el ratón */
        border: none; /* Sin borde */
        border-radius: 8px; /* Bordes redondeados */
        transition: background-color 0.3s ease; /* Efecto de transición */
    }
